asgiref==3.8.1
attrs==23.2.0

crispy-bootstrap5==2024.2

Django==5.0.4
django-auditlog==3.0.0
django-braces==1.15.0
django-cors-headers==4.3.1
django-crispy-forms==2.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
fontawesomefree==6.5.1

psycopg2-binary==2.9.9

sqlparse==0.5.0
