{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Monografias</h2>
    <hr>
    <form action="?" method="GET">
        <input type="text" name="q" value="{{ request.GET.q }}" class="p-1 border" autocomplete="off" placeholder="Buscar">
        <button type="submit" class="btn btn-success">Pesquisar</button>
        <a href="{% url 'listar_monografias' %}" class="btn btn-light">Limpar</a>
    </form>
    
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Orientador</th>
                <th>Data de Entrega</th>
                <th>Banca examinadora</th>
                <th>Arquivo</th> 
                <th>Nota</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for monografia in monografias %}
            <tr>
                <td>{{ monografia.titulo }}</td>
                <td>{{ monografia.autor }}</td>
                <td>{{ monografia.orientador }}</td>
                <td>{{ monografia.data_entrega }}</td>
                <td>
                    {% for membro_banca in monografia.banca_examinadora.all %}
                        {{ membro_banca.nome }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td><a class="text-decoration-none" href="{{ monografia.arquivos.url }}" target="_blank">Visualizar</a></td>
                <td>{{ monografia.nota_final }}</td>
                
                <td>
                    <a href="{% url 'editar_monografia' monografia.pk %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'excluir_monografia' monografia.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'criar_monografia' %}" class="btn btn-success">Criar Monografia</a>
    <a href="{% url 'home' %}" class="btn btn-light">Voltar</a>
</div>
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
    <li class="page-item"><a  href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}" class=" page-link">Anterior</a></li> 
    {% endif %}
    <li class="page-item">
        <span class="page-link ">Página: {{page_obj.number}} de {{page_obj.paginator.num_pages}}</span>
    </li>
   
    {% if page_obj.has_next %}
    <li class="page-item"><a class=" page-link" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">Próxima</a></li>
    <li class="page-item"><a class=" page-link"href="?page={{page_obj.paginator.num_pages}}">Última</a></li>
    {% endif %}
</ul>
{% endblock %}
